<section class="login_page_background drop-shadow-sm">
  <div class="card border border-gray-900 h-auto">
    <form>
      <div class="">
        <label for="name" class="form-label font-bold mt-6 text-xl">Name</label>
        <input
          type="text"
          class="form-control border border-gray-300 mt-6 w-64 h-8"
          id="name"
          placeholder="  Name"
        />
      </div>
      <div class="mb-3">
        <br />
        <label for="password" class="font-bold text-xl">Password</label><br />
        <input
          type="password"
          class="border border-gray-300 mt-6 w-64 h-8"
          id="password"
          placeholder="  ************"
        />
      </div>

      <div class="mb-3">
        <br />
        <label for="email" class="font-bold text-xl">Email</label><br />
        <input
          type="email"
          class="border border-gray-300 mt-6 w-64 h-8"
          id="email"
          placeholder="  abc@gmail.com"
        />
      </div>

      <div class="flex justify-between items-center mt-6">
        <button
          type="submit"
          class="sign_in_design items-center"
          style="background-color: #fe5f1e"
        >
          Register
        </button>

        <!-- <a href="#" class="text_color font-bold">Forgot Password?</a> -->
        <a href="/login" class="text_color font-bold">Already Have Acount?</a>
      </div>
    </form>
  </div>
</section>
