<section class="hero">
  <div class="container mx-auto flex items-center justify-around py-20">
    <div class="w=1/2">
      <h6 class="text-2xl">
        <em>Are You Hungry?</em>
      </h6>
      <br />
      <h1 class="text-6xl font-bold">Don't Wait !</h1>
      <button class="button_design"><em>Order Now !</em></button>
    </div>
    <div class="w=1/2">
      <img src="/img/real_pizza3.png" />
    </div>
  </div>
</section>

<!-- MENU  -->

<section class="container mx-auto py-8">
  <!-- MAIN SECTION  -->
  <h1 class="text-xl font-bold mb-8 ml-12">All Pizzas</h1>

  <!-- ACTUAL MENU STARTS  -->
  <div name="actual_menu" class="ml-20 grid grid-cols-4 gap-y-20 gap-x-12">
    <% pizzas.forEach(function(pizza){%>

    <!-- CARD 1 -->
    <div>
      <div class="w-64">
        <!-- CARD OF ONE PRISE   -->
        <img
          src="/img/real_pizza1.png"
          alt="pizza photo"
          class="mx-auto h-40 mb-4"
        />
        <div class="text-center">
          <!--SECTION AFTER IMAGE (TEXT,NAME,ADD BUTTON, PRISE SECTION) -->
          <h2 class="mb-4 text-lg items-center"><%=pizza.name%></h2>

          <span class="apnocolor py-1 px-4 rounded-full uppercase text-xs"
            ><%=pizza.size%></span
          >

          <div class="flex justify-around items-center mt-4">
            <!--SECTION  OF PRISE AND ADD BUTTON-->
            <span class="font-bold text-lg">₹ <%=pizza.price%></span>
            <!-- ADD BUTTON  -->
            <button class="add_to_cart">
              <span class="font-bold text-lg mr-2 ml-2">+</span>
              <span class="font-bold text-lg ml-2 mr-2">Add</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <% }) %>
  </div>
</section>
