@import "./variable";   // "_" nai lagaviye to pan scss samji jase ke a partial file include kari 6

body{
    font-family: 'lato' , 'sans-serif';
    -webkit-font-smoohing: antialiased;
    color: $dark;

   
    
}



nav li:last-child a {

    &:hover{
        background-color: $primary-hover;
    }

    transition: $smooth;  // color badal va ma smoothness ave atle badhhe point same rakhvanu atle var bnavanu

    background-color: $primary;
    border-radius: 10px ;

} 

nav li a{
    &:hover{
        color: $primary;
    }
    
}

.apnocolor{
    background-color: $gray;
    
}

.add_to_cart{
    border : $primary 3px solid;
    border-radius: 20px;
    color: $primary;
    
    &:hover{
        color:$primary-hover;
        border : $primary-hover 3px solid;
    }
}

.button_design{

    // background-color:$primary;
    background-color:$primary;
    padding: 0.75rem;
    margin-top: 1rem;
    border-radius: 20px;
    font-weight: bold;
    color: $pure;

    &:hover{
        background-color: $primary-hover;
        color: $pure;
        
    }

}

.sign_in_design{
      // background-color:$primary;
      background-color:$primary;
      padding: 0.75rem;
      border-radius: 20px;
      font-weight: bold;
      color: $pure;
  
      &:hover{
          background-color: $primary-hover;
          
      }
}

.text_color{
    color:$primary;
    &:hover{
        color:$primary-hover;
    }
}

.login_page_background{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    height: 300px;
    width: 300px;
    
    background-color:#ffffff;
    border-radius: 10px;
    padding: 20px;
}

a{
    color: $primary;
    &:hover{
        color: $primary-hover;
    }
}





